.slider-content{
    position: absolute;
    width: 100%;
}
.slider-content-bg{
    background-color: #000;
    width: 100%;    
    height: 100%;
    position: absolute;
    opacity: .5;
}
.slider-text{
    position: relative;
    color: #FFF;
    padding: 5px 15px;
}

.jssor-slider{
    position: relative; 
    top: 0px; 
    left: 0px; 
    width: 600px; 
    height: 300px;            
}
.slider a:hover{
    color: #FFF;
}

[u="slides"]{
    cursor: move; 
    position: absolute; 
    overflow: hidden; 
    left: 0px; 
    top: 0px; 
    width: 600px; 
    height: 300px;
}

/* jssor slider bullet navigator skin 01 css */
/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 {
    position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    position: absolute;
    /* size of bullet elment */
    width: 12px;
    height: 12px;
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

/* Arrows	*/
.jssora09l, .jssora09r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(../images/a09.png) no-repeat;
    overflow: hidden;
    opacity: .4;
    filter: alpha(opacity=40);
}
.jssora09l { background-position: -5px -35px; }
.jssora09r { background-position: -65px -35px; }
.jssora09l:hover { background-position: -5px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora09r:hover { background-position: -65px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora09l.jssora09ldn { background-position: -5px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssora09r.jssora09rdn { background-position: -65px -35px; opacity: .3; filter:alpha(opacity=30); }



/* jssor slider thumbnail navigator skin 07 css */
/*
.jssort07 .p            (normal)
.jssort07 .p:hover      (normal mouseover)
.jssort07 .pav          (active)
.jssort07 .pav:hover    (active mouseover)
.jssort07 .pdn          (mousedown)
*/
.jssort07 {
position: absolute;
/* size of thumbnail navigator container */
width: 800px;
height: 100px;
}

.jssort07 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
}

.jssort07 .i {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    filter: alpha(opacity=80);
    opacity: .8;
}

.jssort07 .p:hover .i, .jssort07 .pav .i {
    filter: alpha(opacity=100);
    opacity: 1;
}

.jssort07 .o {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    box-sizing: content-box;
    transition: border-color .6s;
    -moz-transition: border-color .6s;
    -webkit-transition: border-color .6s;
    -o-transition: border-color .6s;
}

.jssort07 .pav .o {
    border-color: #0099ff;
}

.jssort07 .p:hover .o {
    border-color: #fff;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}

.jssort07 .p.pdn .o {
    border-color: #0099ff;
}

* html .jssort07 .o {
    /* ie quirks mode adjust */
    width /**/: 72px;
    height /**/: 72px;
}
